.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #F1D3BC;
    overflow: hidden;
    transition: .3s all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #F1D3BC;
    z-index: 99;
}

.logo{
    padding: 10px 0;
    width: 100%;
}
.logo img {
    width: 60px;
    border-radius: 50%;
    transition: .3s all linear;
}
.logo img:hover {
    transform: scale(1.2);
}
.nav_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.nav_item{   
    overflow: hidden;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 1px solid rgba(97,80,73,0.3);
    width: 100%;
}
.nav_item:first-child{
    border-top: 1px solid rgba(97,80,73,0.3);
}
.nav_item a{
    display: block;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav_item a:hover img {
    scale: 1.2;
}
.nav_item img{
    width: 32px;
    margin-right: 20px;
    display: block;
    transition: .3s all;
}
.nav_item p{
    color: #615049;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(97,80,73,0.49);
}